.card {
  border: 1px solid #ddd;
  width: 300px;
  padding: 12px;
  box-shadow: 7px 7px 2px #eee;
}

name {
  margin-top: 0;
}

.information {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 12px;
}

.factoid{
  font-style: italic;
  margin-top: 0;
}

.factList {
  list-style:none;
  padding: 0;
}
.label{
  font-weight: bold;
}

.description{
  margin-bottom: 0;
}
